@import '../../styles/styles.scss';

.tag{
    box-sizing: border-box;
    @include flex-height-center;
    justify-content: center;
    padding: 2px;
    min-width: 84px;
    height: 18px;
    font-size: 0.6em;
    background-color: $main-color;
    color: $text-color;
    border-radius: 5px;
    &__text{
        text-align: center;
        margin: 0px;
    }
    @media(min-width:700px) {
        min-width: 115px;
        height: 25px;
        font-size: 0.8em;
    }
}