@import '../../styles/styles.scss';

.error{
    color: $main-color;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: calc(60vh);
    box-sizing: border-box;
    margin-top:5%;
    &__code{
        margin: auto;
        font-size: 6em;
        font-weight: 700;
        @media (min-width: 700px){
            font-size: 8em;
        }
        @media (min-width: 1000px){
            font-size: 10em;
        }
    }
    &__text{
        font-size: 1.5em;
        text-align: center;
    }
    &__link{
        font-size: 1em;
        text-decoration: underline;
    }

}