@import '../../styles/styles.scss';

.error{
    color: $main-color;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    @media (min-width: 700px){
        height: 50%;
    }
    @media (min-width: 1000px){
        height: 30%;
    }
    &__code{
        margin:2%;
        font-size: 4em;
        font-weight: 700;
        @media (min-width: 700px){
            font-size: 8em;
        }
        @media (min-width: 1000px){
            font-size: 10em;
        }
    }
    &__text{
        font-size: 1.5em;
        text-align: center;
    }
    &__link{
        font-size: 1em;
    }

}