@import '../../styles/styles.scss';

.tagSection{
    @include radius;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    @media (min-width: 700px) {
        grid-template-columns: 1fr 1fr 1fr;
        background-color: $block-backgroud-color;
        padding: 3%;
        column-gap: 3%;
    }
    &__item{
        height: 225px;
        @include radius;
    }
    &__img{
        width: 100%;
        height: 100%;
        object-fit: fill;
        @include radius;
    }
    &__title{
        width: 70%;
        position: relative;
        bottom: 80px;
        left: 5%;
        color: $text-color;
        @media (min-width: 700px) {
            width: 90%;
        }
    }
}