.a {
  color: #FF6060;
  text-decoration: none;
}

.collapse__banner {
  display: flex;
  align-items: center;
  margin-top: 5%;
  border-radius: 10px;
  box-sizing: border-box;
  color: #FFFFFF;
  height: 30px;
  padding: 2%;
  justify-content: space-between;
  background-color: #FF6060;
}

@media (min-width: 700px) {
  .collapse__banner {
    height: 52px;
  }
}

.collapse__chevron {
  border: none;
  background-color: #FF6060;
}

.collapse__content {
  box-sizing: border-box;
  width: 100%;
  padding: 1% 3%;
  background-color: #F7F7F7;
  color: #FF6060;
  border-radius: 10px;
  overflow: hidden;
  height: 0;
  transition: height 0.3s ease;
}

.collapse__content--open {
  height: auto;
  transition: height 0.3s ease;
}