@import '../../styles/styles.scss';

.collapse {
    &__banner{
        @include flex-height-center;
        margin-top:5% ;
        border-radius: 10px;
        box-sizing: border-box;
        color: $text-color;
        height: 30px;
        padding: 2%;
        justify-content: space-between;
        background-color: $main-color;
        @media(min-width:700px){
            height: 52px;
        }
    }
    &__content{
        box-sizing: border-box;
        width: 100%;
        background-color: $block-background-color;
        color: $main-color;
        border-radius: 0px 0px 10px 10px;
        padding-top: 15px;
        position: relative;
        top: -20px;
        z-index: -1;
    }
    &__content--open{
        max-height: 500px;
        transition: max-height 500ms;
        transform-origin: top;
        overflow: hidden;
    }
    &__content--close{
        transform-origin: top;
        max-height: 0px;
        transition: max-height 500ms;
        overflow: hidden;
    }
    &__content--text{
        display: block;
        margin: auto;
        width: 95%;
        padding: 3% 0%;
    }
    &__content--text--open{
        transform: translateY(0%);
        transform-origin: top;
        transition: transform 500ms;
    }
    &__content--text--close{
        transform: translateY(-100%);    
        transform-origin: top;
        transition: transform 500ms ;
        overflow: hidden;
    }
    &__chevron {
        transition: transform 300ms ease-in;
        transform: rotate(0deg);
        border: none;
        background-color: $main-color;
    }
    &__chevron--open {
        transition: transform 300ms ease-in;
        transform: rotate(-180deg);
        border: none;
        background-color: $main-color;
    }
}