@import '../../styles/styles.scss';

.header {
    @include flex-height-center;
    justify-content : space-between;
    margin-top: 20px;
    &__logoKasa{
        width: 40%;
        max-width: 210px;
        height: auto 
    }
    &__nav{
        @include flex-height-center;
        width: 50%;    
        @media (min-width: 700px) {
            width: 35%;
            font-size: 1.2em;
        }
        @media (min-width: 1000px) {
            width: 25%;
            font-size: 1.4em;
        }
        & *{
            text-transform: uppercase;
            margin: auto;
            text-decoration: none;
            @media (min-width: 700px) {
                text-transform: none;
            }
        }
        & *:visited{
            color: $main-color;
        }
        & *:hover{
            text-decoration: underline;
        }
    }
}
.active{
    text-decoration: underline;
}