@import '../../styles/styles.scss';

.footer{
    @include flex-height-center;
    @include center;
    height: 209px;
    flex-direction: column;
    background-color: black;
    color: $text-color;
    width: 100vw;
    position: absolute;
    left: 0px;
    margin-top: 5%;
    &__logoKasaWhite{
        max-width: 145px;
    }
    &__text{
        max-width: 30%;
    }
}